<!-- Reservation Booking Confirmation Master Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <h5 class="mb-0">Ticket - Reservation Confirmation </h5>
                </div>

                <div class="d-flex justify-content-between">
                    <h6>Journey Date : 20 Feb 2024</h6>
                    <h6>Train No. : 1004</h6>
                    <h6>Train Name : MUM GOA EXP</h6>
                </div>
                <div class="mt-2 d-flex justify-content-between">

                    <div class="d-flex">
                        <h6 class="mb-0 d-flex align-items-center me-2">Station From : CST</h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="mb-0 d-flex align-items-center me-2">Station To : GOA</h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="mb-0 d-flex align-items-center me-2">Coach Type : SL</h6>
                    </div>
                </div>

                <hr class="bg-dark">


                <div class="d-flex justify-content-around">
                    <div class="col-lg-8">
                        <table class="table table-striped table-bordered border-dark table-info">
                            <thead>
                                <tr>
                                    <th>Passenger Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zeeshan</td>
                                    <td>17</td>
                                    <td>Male</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <table class="table table-striped table-bordered border-dark table-info">
                            <thead>
                                <tr>
                                    <th>Ticket Fair</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>7500</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th>Reservation Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th>Special Fees</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>150</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr class="bg-dark">



                <div>
                    <div class="d-flex justify-content-between">
                        <h6>Total Amount : 950</h6>
                        <div>
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                            <button class="ms-2 btn btn-primary">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Booking Confirmation Master End -->