<!-- Train Master Add Start -->

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <h5 class="mb-0">Add Train Master</h5>
                </div>
                <form action="" method="post">
                    <div class="bg-light rounded d-block ms-auto me-auto h-100 p-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control w-50" name="Train_No" placeholder="Train No. :">
                            <label>Train No. :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control w-50" name="Train_Name" placeholder="Train Name :">
                            <label>Train Name :</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select w-50" name="Train_Type" aria-label="Floating label select example">
                                <option selected>-- Select --</option>
                                <option value="PASSENGER">PASSENGER</option>
                                <option value="SUPER FAST">SUPER FAST</option>
                            </select>
                            <label>Train Type :</label>
                        </div>
                        <div class="d-flex">
                            <label class="me-2">Schedule :</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Mon" type="checkbox">
                                <label class="form-check-label">Mon</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Tue" type="checkbox">
                                <label class="form-check-label">Tue</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Wed" type="checkbox">
                                <label class="form-check-label">Wed</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Thu" type="checkbox">
                                <label class="form-check-label">Thu</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Fri" type="checkbox">
                                <label class="form-check-label">Fri</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Sat" type="checkbox">
                                <label class="form-check-label">Sat</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="Schedule_Sun" type="checkbox">
                                <label class="form-check-label">Sun</label>
                            </div>
                        </div><br>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">No. Of Coaches :</label>

                            <label class="col-sm-1 col-form-label">A1:</label>
                            <input type="text" name="Coach_A1" style="width: 50px; border-radius: 5px; border: 1px solid rgb(194, 169, 169);" class="">

                            <label class="col-sm-1 col-form-label">A2:</label>
                            <input type="text"  name="Coach_A2" style="width: 50px; border-radius: 5px; border: 1px solid rgb(194, 169, 169);" class="">

                            <label class="col-sm-1 col-form-label">A3:</label>
                            <input type="text"  name="Coach_A3" style="width: 50px; border-radius: 5px; border: 1px solid rgb(194, 169, 169);" class="">

                            <label class="col-sm-1 col-form-label">SL:</label>
                            <input type="text"  name="Coach_SL" style="width: 50px; border-radius: 5px; border: 1px solid rgb(194, 169, 169);" class="">

                            <label class="col-sm-1 col-form-label">GN:</label>
                            <input type="text" name="Coach_GN" style="width: 50px; border-radius: 5px; border: 1px solid rgb(194, 169, 169);" class="">

                        </div>

                        <div>
                            <div class="d-flex align-items-start">
                                <button class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                                <button class="ms-2 btn btn-primary">
                                    Back
                                </button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Train Master Add End -->
